<template>
  <v-row>
    <v-col cols="12" lg="6">
      <CalculatorForm />
    </v-col>
    <v-col cols="12" lg="6">
      <CalculatorSummary />
    </v-col>
  </v-row>
</template>

<script>
import CalculatorForm from "./Calculator/CalculatorForm";
import CalculatorSummary from "./Calculator/CalculatorSummary";

export default {
  name: "Calculator",
  components: { CalculatorSummary, CalculatorForm },
  props: {
    loanMinValue: {
      type: Number,
      required: true,
    },
    loanMaxValue: {
      type: Number,
      required: true,
    },
    periodMinValue: {
      type: Number,
      required: true,
    },
    periodMaxValue: {
      type: Number,
      required: true,
    },
    insurancePrice: {
      type: Number,
      required: true,
    },
    rate: {
      type: Number,
      required: true,
    },
  },
  provide() {
    return {
      loanMinValue: this.loanMinValue,
      loanMaxValue: this.loanMaxValue,
      periodMinValue: this.periodMinValue,
      periodMaxValue: this.periodMaxValue,
      insurancePrice: this.insurancePrice,
      rate: this.rate,
    };
  },
};
</script>
