<template>
  <div>
    <v-card class="pa-15 text-center position-relative blue lighten-5">
      <div class="loader" v-if="loading">
        <v-progress-circular
          :width="3"
          color="green"
          indeterminate
        ></v-progress-circular>
      </div>
      <h2>Měsíčně zaplatíte</h2>
      <p class="text-h1 mt-13 mb-13">
        <strong data-cy="summary_box-monthly_payment">{{
          monthlyPayment || "-" | toCurrency
        }}</strong>
      </p>
      <v-btn color="success" large x-large>Pokračovat &gt;</v-btn>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "CalculatorSummary",
  computed: {
    monthlyPayment() {
      return this.$store.state.calculator.monthlyPayment;
    },
    loading() {
      return this.$store.state.calculator.loading;
    },
  },
};
</script>

<style scoped>
.position-relative {
  position: relative;
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
