<template>
  <v-card class="pa-5">
    <h2>Expres půjčku schválíme online do 5 minut</h2>
    <hr class="mt-2 mb-2" />

    <v-form v-model="valid">
      <v-slider
        :min="loanMinValue"
        :max="loanMaxValue"
        v-model="loan"
        :tick-labels="tickLabelsForLoan"
        :step="1000"
        label="Kolik si chci půjčit"
        @change="updatePrice"
        :disabled="loading"
        data-cy="loan"
      >
        <template v-slot:append>
          <v-text-field
            ref="loan"
            :rules="loanRules"
            v-model="loan"
            class="mt-0 pt-0 input-size-6em"
            single-line
            type="number"
            @change="updatePrice"
            @blur="updatePrice"
            :min="loanMinValue"
            :max="loanMaxValue"
            :step="1000"
            :disabled="loading"
            data-cy="loan-input"
          >
            <strong slot="append">Kč</strong>
          </v-text-field>
        </template>
      </v-slider>

      <v-slider
        label="Na jak dlouho"
        :min="periodMinValue"
        :max="periodMaxValue"
        v-model="period"
        :tick-labels="tickLabelsForPeriod"
        :step="1"
        persistent-hint
        class="align-center"
        @change="updatePrice"
        :disabled="loading"
        data-cy="period"
      >
        <template v-slot:append>
          <v-text-field
            ref="period"
            :rules="periodRules"
            v-model="period"
            class="mt-0 pt-0 input-size-6em"
            single-line
            type="number"
            @change="updatePrice"
            @blur="updatePrice"
            :disabled="loading"
            :min="periodMinValue"
            :max="periodMaxValue"
            data-cy="period-input"
          >
            <strong slot="append">měsíců</strong>
          </v-text-field>
        </template>
      </v-slider>

      <v-radio-group
        v-model="insurance"
        @change="updatePrice"
        class="mt-0"
        :disabled="loading"
      >
        <template v-slot:label>
          <div>Pojištění proti neschopnosti půjčku splácet</div>
        </template>
        <v-radio :value="true" label="S pojištěním" data-cy="insurance-on" />
        <v-radio :value="false" label="Bez pojištění" data-cy="insurance-off" />
      </v-radio-group>

      <v-alert type="info" class="mb-0">
        Úroková sazba <strong>{{ this.rate }} %</strong>, RPSN od
        <strong>{{ this.rate }}</strong
        >, pojištění
        <strong data-cy="info_box-monthly_payment"
          >{{ monthlyPayment | toCurrency }}/měsíčně</strong
        >, poplatek za sjednání online
        <strong>{{ insurancePrice | toCurrency }}</strong
        >, celkem zaplatíte
        <strong data-cy="info_box-total_loan_price">{{
          totalLoanPrice | toCurrency
        }}</strong
        >.
      </v-alert>
    </v-form>
  </v-card>
</template>

<script>
import { CALCULATOR_CALC_ALL } from "../../store";

export default {
  name: "CalculatorForm",
  inject: [
    "loanMinValue",
    "loanMaxValue",
    "periodMinValue",
    "periodMaxValue",
    "insurancePrice",
    "rate",
  ],
  computed: {
    tickLabelsForLoan() {
      const tickLabels = [this.priceFormatter.format(this.loanMinValue)];
      const totalSteps = (this.loanMaxValue - this.loanMinValue) / 1000 - 1;

      for (let i = 0; i < totalSteps; i++) {
        tickLabels.push("");
      }

      tickLabels.push(this.priceFormatter.format(this.loanMaxValue));

      return tickLabels;
    },
    tickLabelsForPeriod() {
      const tickLabels = [`${this.periodMinValue} měsíců`];
      const totalSteps = this.periodMaxValue - this.periodMinValue - 1;

      for (let i = 0; i < totalSteps; i++) {
        tickLabels.push("");
      }

      tickLabels.push(`${this.periodMaxValue} měsíců`);

      return tickLabels;
    },
    totalLoanPrice() {
      return (
        this.$store.state.calculator.totalPrice +
        (this.insurance ? this.insurancePrice * this.period : 0)
      );
    },
    monthlyPayment() {
      return this.$store.state.calculator.monthlyPayment;
    },
    loading() {
      return this.$store.state.calculator.loading;
    },
  },
  data() {
    return {
      valid: false,
      loan: 0,
      period: 24,
      insurance: false,
      loanMinValue: this.loanMinValue,
      loanMaxValue: this.loanMaxValue,
      periodMinValue: this.periodMinValue,
      periodMaxValue: this.periodMaxValue,
      insurancePrice: this.insurancePrice,
      rate: this.rate,
      priceFormatter: new Intl.NumberFormat("cs-CZ", {
        style: "currency",
        currency: "CZK",
        maximumFractionDigits: 0,
      }),
      loanRules: [
        (v) => !!v || "Půjčená částka je povinná",
        (v) =>
          v >= this.loanMinValue || "Překročili jste minimální hodnotu půjčky.",
        (v) =>
          v <= this.loanMaxValue || "Překročili jste maximální hodnotu půjčky.",
      ],
      periodRules: [
        (v) => !!v || "Půjčená částka je povinná",
        (v) =>
          v >= this.periodMinValue ||
          "Překročili jste minimální dobu splácení.",
        (v) =>
          v <= this.periodMaxValue ||
          "Překročili jste maximální dobu splácení.",
      ],
    };
  },
  mounted() {
    this.updatePrice();
  },
  methods: {
    updatePrice() {
      if (this.valid) {
        this.$store.dispatch(CALCULATOR_CALC_ALL, {
          amount: this.loan,
          rate: this.rate,
          termMonths: this.period,
          insurance: this.insurance ? this.insurancePrice : 0,
        });
      } else {
        if (!this.$refs.loan?.validate()) {
          this.$refs.loan?.focus();
        }

        if (!this.$refs.period?.validate()) {
          this.$refs.period?.focus();
        }
      }
    },
  },
};
</script>

<style scoped>
.input-size-6em {
  width: 6em;
}
</style>
