<template>
  <v-main>
    <v-container>
      <h1 class="text-center">Kalkulačka</h1>
      <hr class="mt-2 mb-10" />

      <Calculator
        :loan-min-value="20000"
        :loan-max-value="800000"
        :period-min-value="24"
        :period-max-value="96"
        :insurance-price="100"
        :rate="6.9"
      />
    </v-container>
  </v-main>
</template>

<script>
import Calculator from "../components/Calculator";

export default {
  name: "CalculatorPage",
  components: {
    Calculator,
  },
};
</script>
